// Import page-specific CSS files here.
@import "home";

.container {
  display: flex;
}

.form-control{
  background-color: white;
  width: 500px;
  border-radius: 22px
}

.btn btn-search {
  background-color: yellow
}
