
<div class="footer">
<!-- <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div> -->
  <div class="footer-copyright">
    <p>Landing page banner image by <%= link_to 'u/Sandy315', 'https://www.reddit.com/r/pokemon/comments/1gdlts/i_made_you_guys_a_background/' %>.</p>
    <p>
      Originally made at <%= link_to 'Le Wagon', 'https://www.lewagon.com/' %> Batch #454 (<%= link_to 'Singapore', 'https://www.lewagon.com/singapore' %>).
      Forked by Grace Teng (<%= link_to 'github link', 'https://github.com/pelicularities/rent-a-pokemon-redux' %>)
    </p>
  </div>
</div>
