<div class="container">
 <div class= 'd-flex justify-content-center'>
    <%= render 'shared/rental_form' %>
  </div>
</div>
<%= javascript_pack_tag 'rental_new', 'data-turbolinks-track': 'reload', defer: true %>
