

<div class="container">
  <!--   <div class="card"> -->
    <div class="heading">
      <h1 class="card-title">Yes, <%= @pokemon.name %> is now yours!  </h1>


      <div class="parent">
        <%= cl_image_tag @pokemon.pokedex.artwork.key, class:'image1', height: 200, width: 200, crop: :fill %>
        <img class= "image2" src="https://img.icons8.com/ios-filled/100/000000/gotcha.png"/>
      </div>

  </div>

</div>

<!-- <div class='container'>
  <div class="rating">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  </div>
</div>
-->


