

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopifycdn.net/s/files/1/0128/0782/articles/pokemonbanner_690x.jpg?v=1494521955);">
  <div class="container">
    <div class="col-sm-6">
      <h1>Welcome to the <strong>Pokemon</strong> world!</h1>
      <h4>Gotta Rent 'Em All</h4>
      <div class="search">
        <%= render 'shared/search_bar' %>
      </div>
      <!-- <a class="btn btn-primary" href="#"><%= link_to 'Hunt now', pokemons_path %></a> -->
    </div>
  </div>
</div>

<%= render 'shared/carousel' %>

