<div class="banner" style="background-image: url('<%= image_path('pokemon_background.png') %>')">
  <div class="bg-transparent-dark w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1>Welcome to the <strong>Pokemon</strong> world!</h1>
      <%= link_to 'Hunt now', pokemons_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>
