

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopifycdn.net/s/files/1/0128/0782/articles/pokemonbanner_690x.jpg?v=1494521955);">
  <div class="container">
    <div class="col-sm-6">
      <h1>Welcome to the <strong>Pokemon</strong> world!</h1>
      <p>Gotta Rent 'Em All</p>
      <a class="btn btn-primary" href="#">Hunt now</a>
    </div>
  </div>
</div>


  <div class="card-product">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
