.alert, .notice {
  position: fixed;
  bottom: $spacer;
  right: $spacer;
  padding: $spacer;
  border-radius: $border-radius;
  z-index: 1000;
}
.alert {
  background-color: $warning;
}
.notice {
  background-color: $success;
}