.navbar-lewagon {
  justify-content: space-between;
  background-color: $red;
  color: $light-gray;
}

.navbar-lewagon {
  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand, .nav-item .nav-link {
    color: $light-gray;
  }

  .nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}
