<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
      <h1>Edit Your Pokémon Details</h1>
      <%= render 'shared/pokemon_form' %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'pokemon_form', 'data-turbolinks-track': 'reload', defer: true %>
