
<!--   <div class="row"> -->
  <h1 class='p-4'> List Your Pokémon </h1>

  <div class="container d-flex">
     <img src="https://img.icons8.com/color/96/000000/snorlax.png"/>
     <img src="https://img.icons8.com/color/96/000000/psyduck.png"/>
     <img src="https://img.icons8.com/color/96/000000/charmander.png"/>
     <img src="https://img.icons8.com/color/96/000000/pidgey.png"/>
     <img src="https://img.icons8.com/color/96/000000/bellsprout.png"/>
 </div>

<!--  <div class="w-75 pl-5"> -->
<!-- <div class="mx-auto" style="width: 200px;"> -->
<div class= 'pl-5 w-75 justify-content-center'>
  <%= render 'shared/pokemon_form' %>
</div>

