
<div class = ''>

  <div class="container pt-0 align-top">
    <%= render "shared/pokemon_show" %>
  </div>



  <div class= 'back-btn'>
  </div>
</div>

<div class="container">
<%= link_to "Go Back", pokemons_path %>
</div>

<% #= link_to 'I want it!', new_pokemon_rental_path(pokemon) %>

